*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    color: $dark;
    background-color: $primary;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $dark;
}